/**************************************************************************
 * Borders
**************************************************************************/

/**********************/
/** Globals */
div, table {
    border-radius: 0.5em;
}
button, input, img {
    border-radius: 0.3em;
}
td, th, input, img, select {
    border-radius: 0.3em;
}
th, td, p {
    border-radius: 0.2em;
}

/*
button.menuitem_unsel:hover
{
    box-shadow: 1px 1px 1px #a0a0a0;
}
*/
/*
table.login_layout
{
    border-style: solid;
    border-width: 0.1em;
}
table.page_layout, table.page_layout td, div.loginbody, div.hideoverflow {
    border-style: solid;
    border-width: 0.1em;
}
table.header_layout td {
    border-style: solid;
    border-width: 0.1em;
}
table.header td {
    border-style: solid;
    border-width: 0.2em;
}
div, table, table td {
    border-style: solid;
    border-color: #101010;
    border-width: 1px;
}
table, th {
    border-style: solid;
    border-color: #101010;
    border-width: 2px;
}
td {
    border-style: solid;
    border-width: 1px;
}
th {
    border-style: solid;
    border-color: #101010;
    border-width: 2px;
}
td {
    border-style: solid;
    border-width: 1px;
}
div.controls {
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
}
table.player_layout_wide,
table.player_interface
{
    border-style: solid;
    border-color: #801010;
    border-width: 1px;
}
div.menu
{
    border-style: solid;
    border-color: #101080;
    border-width: 1px;
}
*/


/**********************/
/** None */

button.menuitem_sel,
button.menuitem_unsel
{
    border: None;
}

/**********************/
/** Spacing */
table.header {
    /* border-collapse: separate; */
    border-spacing: 0.2em;
}
div.div_config table,
table.menu
{
    /* border-collapse: separate; */
    border-spacing: 0em;
}
div.db_table,
table.misc_stats,
table.winners,
table.losers,
table.db_table,
table.settings_table
{
    /* border-collapse: separate; */
    border-spacing: 0.1em;
}

table.player_layout_wide,
table.player_interface
{
    border-spacing: 0em;
}
table.header {
    border-spacing: 0em;
}
/*
table.header {
    border-collapse: collapse;
}
*/

/**********************/
/** Widths */
td.votedyae,
td.votednay,
tr.up td {
    border-width: 3px;
}
div.div_config table th,
div.div_config table td,
table.db_table,
table.db_table th,
table.db_table td
{
    border-width: 0.012em;
}
button.logout {
    border-width: 0.006em;
}

/**********************/
/** Mixed */


div.div_config table th,
div.div_config table td,
table.db_table,
table.db_table th,
table.db_table td
{
    border-style: solid;
    border-color: #606060;
}

button.menuitem_sel:link,
td.votedyae,
td.votednay,
tr.up td {
    border-style: solid;
}
div.debug,
div.debug_container,
table.db_table,
table.db_table th,
table.db_table td,
table.player_interface td,
td.header,
div.docs
{
    border-width: 0.012em;
    border-style: solid;
}
th.misc_stats_label {
    border-style: none;
}

div.loginbody
{
    border-style: solid;
    border-color: #101010;
    border-width: 1px;
}

table.misc_stats_inner td {
    border: none;
}
table.misc_stats th,
table.misc_stats td {
    box-shadow: None;
}
table.misc_stats_inner {
    border-spacing: 5px;
    border-width: 1px;
}
div.docs li,
div.docs ul li {
    box-shadow: None
}
img.controls,
td.delete_track,
td.delete-vote,
td.delete-voter {
    border-style: solid;
    border-width: 1px;
}
td.votedyae,
td.votednay {
    border-style: solid;
    border-width: 1px;
}
table#table_player_example,
table#table_player_example td,
table#table_player_example td img {
    border: None;
}
div.progress,
div.progress_time {
    border-style: solid;
    border-width: 1px;
}

img.gong
{
    border-radius: 3.9em;
}
table.player_layout_wide,
table.player_layout_wide table,
table.menu td
{
    border-radius: 0.6em;
}
table.player_interface td,
table.header td,
tr.yaevote td,
tr.nayvote td,
td.nayvote,
td.yaevote,
p.login,
p.instructions,
img.controls,
img.disconnect-voter
{
    border-radius: 0.5em;
}
h4.todo {
    border-radius: 0.3em;
}
img.logo {
    border-radius: 0.15em;
}
ul.menu li,
div.copyright
{
    border-radius: 0.3em;
}
