div.pushbutton,
div.pushbutton_active,
div.pushbutton_enabled,
div.pushbutton_disabled
{
  overflow: hidden;
  width: 3.00em;
  height: 3.00em;
}
div.pushbutton img,
div.pushbutton_active img,
div.pushbutton_enabled img,
div.pushbutton_disabled img
{
  display: block;
  height: 21.00em;
  width: 24.00em;
}

div.slider
{
  overflow: hidden;
  width: 2.00em;
  height: 2.00em;
}
div.slider img
{
  display: block;
  height: 14.00em;
  width: 16.00em;
}

/*
 * Does not work on Firefox 45.6.0
 * Works on Chromium Version 56.0.2924.76 (64-bit)
img.pause, img.play, img.rewind, img.ff, img.stop {
  content: url("/critter_list/template/css/button_candidates_6.svg");
}
 */
img.pause, img.play, img.rewind, img.ff, img.stop, img.volume-slider {
  margin-top: -6.00em;
}
img.pause-enabled, img.play-enabled, img.rewind-enabled, img.ff-enabled, img.stop-enabled, img.next-enabled, img.previous-enabled, img.volume-slider-enabled {
  margin-top: -6.00em;
}
img.pause-active, img.play-active, img.rewind-active, img.ff-active, img.stop-active, img.next-active, img.previous-active, img.volume-slider-active {
  margin-top: -9.00em;
}
img.pause-disabled, img.play-disabled, img.rewind-disabled, img.ff-disabled, img.stop-disabled, img.next-disabled, img.previous-disabled, img.volume-slider-disabled {
  margin-top: -12.00em;
}

img.volume-slider {
  margin-top: -4.00em;
}
img.volume-slider-enabled {
  margin-top: -4.00em;
}
img.volume-slider-active {
  margin-top: -6.00em;
}
img.volume-slider-disabled {
  margin-top: -8.00em;
}

img.pause, img.pause-active, img.pause-enabled, img.pause-disabled {
    margin-left:  0em;
}
img.stop, img.stop-active, img.stop-enabled, img.stop-disabled {
  margin-left: -3.00em;
}
img.play, img.play-active, img.play-enabled, img.play-disabled {
 margin-left: -6.00em;
}
img.ff, img.ff-active, img.ff-enabled, img.ff-disabled {
  margin-left: -9.00em;
}
img.rewind, img.rewind-active, img.rewind-enabled, img.rewind-disabled {
  margin-left: -12.00em;
}
img.next, img.next-active, img.next-enabled, img.next-disabled {
  margin-left: -15.00em;
}
img.previous, img.previous-active, img.previous-enabled, img.previous-disabled {
  margin-left: -18.00em;
}
img.volume-slider, img.volume-slider-active, img.volume-slider-enabled, img.volume-slider-disabled {
  margin-left: -21.00em;
}
img.volume-slider, img.volume-slider-active, img.volume-slider-enabled, img.volume-slider-disabled {
  margin-left: -14.00em;
}

div.clear {
  clear: both;
}
