/**************************************************************************
 * Colors, Textures, Pictures and related properties
**************************************************************************/
div.div_config table th,
div.div_config table td
{
    border-color: #C0C0C0;
}
select
{
    border-color: #505050;
}

/**********************/
/** Globals */
body {
    background-color: #101010;
}
th {
    background-color: #F0F0F0;
}
h1 {
    color: #101010;
}
h1 {
    text-shadow: 2px 2px 2px #00D2D5;
}
h2 {
    text-shadow: 2px 2px 2px #00D2D5;
}
/*
h3 {
    text-shadow: 2px 2px 2px #101010;
}
*/
/*
th, td, li {
    box-shadow: 1px 1px 2px #101010;
}
*/

/**********************/
/** Text Colors */

div.progress {
    color: #101010;
}
div.hideoverflow {
    color: #404040;
}
div.content {
    background-color: #404040;
}
tr.nayvote td,
td.nayvote
{
    color: #F0F0F0;
}
div.progress_time {
    color: white;
}

ul.menu li:active {
    color: #C06060;
}
a.menuitem_unsel:active,
a.menuitem_sel:active {
    color: #FF8080;
}
button.logout:hover,
button.menuitem_unsel:hover,
a.menuitem_unsel:hover,
a.menuitem_sel:hover,
td.unSelectedPlaylistCell:hover,
td.unSelectedVoterCell a:hover {
    color: #F0E8E8;
}
th.topheader select,
div.copyright,
table#table_header td,
table.db_table th,
table.db_table td,
table.set_playlist_table th,
table.player_playlist_table th,
table.player_playlist_table td,
table.player_interface td
{
    color: #00D2D5;
}
button.logout,
button.menuitem_sel,
button.menuitem_unsel,
a.menuitem_unsel,
a.menuitem_unsel:link,
td.unSelectedPlaylistCell,
td.unSelectedVoterCell a
{
    color: #C0C0C0;
}
a.menuitem_sel,
a.menuitem_sel:link,
td.selectedPlaylistCell,
td.voterCell a,
td.progress
{
    color: #F8F8F8;
}


/**********************/
/** Background Colors */

div.controls,
div.progress_time
{
    background: None;
}
div.body
{
    background-color: #181818;
}

div.add_tracks
{
    background-color: #E04040;
}

div.docs button,
button.menuitem_sel:link,
td.votedyae,
td.votednay,
tr.up td,
tr.yaevote td,
div.docs
{
    background-color: #F8F8F8;
}
div.debug,
div.debug_container
{
    background-color: #F0F0F0;
}
h4.todo,
table.winners td,
table.losers td
{
    background-color: #E0E0E0;
}
td.vote {
    background-color: #A0A0A0;
}
td.yaevote,
div.gong,
table.misc_stats td p,
div.db_table,
table.winners,
table.losers,
table.settings_table
{
    background-color: #808080;
}
td.vote_class table,
th.next_up,
div.loginbody,
img.controls
{
    background-color: #606060;
}
img.controls:hover {
    background-color: #505050;
}
table.misc_stats,
table.player_layout_wide {
    background-color: #484848;
}
table.menu td,
table.player_layout_wide,
td.vote_class,
table.login_layout,
table#table_player_example td,
table.player_interface,
table.player2
{
    background-color: #303030;
}
table.db_table,
table.player_playlist_table
{
    background-color: #282828;
}
table.db_table th,
table.db_table td,
table.set_playlist_table th,
table.player_playlist_table th,
table.player_playlist_table td
{
    background-color: #181818;
}
th.topheader select,
th.top_header select,
table#table_header td,
td.delete_track,
td.delete-vote,
td.delete-voter,
td.delete-playlist,
button.logout,
button.menuitem_unsel,
button.menuitem_unsel,
button.menuitem_unsel:link,
button.menuitem_unsel:link,
td.unSelectedVoterCell,
td.unSelectedPlaylistCell,
td.selectedPlaylistCell,
td.voterCell,
td.vote,
tr.nayvote td,
td.nayvote
{
    background-color: #202020;
}
table.player_interface td
{
    background-color: #181818;
}


div.progress {
    background-color: #00D2D5;
}
td.votednay,
td.vote_class td.votedyae,
td.vote_class td.votednay,
td.voterCell,
td.selectedPlaylistCell,
button.menuitem_sel,
button.menuitem_sel:link
{
    background-color: #80C0D0;
}



/**************************************************************************
 * Borders
**************************************************************************/
div.body,
div.debug,
div.debug_container,
div.docs,
button.logout,
button.menuitem_sel,
button.menuitem_unsel
{
    border-color: #101010;
}
table.player_layout_wide td,
table.player2 td,
table.table.player td,
td.voterCell,
td.selectedPlaylistCell,
button.menuitem_sel,
button.menuitem_sel:link
{
    border-color: #202020;
}
tr.up td
{
    border-color: #F0F0F0;
}

table.header td.logo,
table.header td.header
{
    border-color: #404040;
}
td.vote_class td.votedyae,
td.vote_class td.votednay
{
    border-color: #202020;
}
img.controls
{
    border-color: #202020;
}
td.header
{
    border-color: #101010;
}



/**********************/
/** Shadows */

div.body,
div.loginbody {
    box-shadow: 5px 5px 5px #404040;
}
div.docs li,
div.docs ul li {
    box-shadow: None
}
/*
th, td, li {
    box-shadow: 1px 1px 2px #101010;
}
*/

button.logout,
button.menuitem_unsel,
table#table_player_example td img,
table.db_table th,
table.db_table td,
table.set_playlist_table th,
table.player_playlist_table th,
table.player_playlist_table td,
p.login,
p.instructions,
div.copyright {
    box-shadow: 1px 1px 2px #101010;
}
table.menu td,
table.player_layout_wide,
table.winners,
table.losers,
table.misc_stats,
table.db_table,
table.settings_table
{
    box-shadow: inset 2px 2px 2px 2px #202020;
}
table.menu td
{
    box-shadow: inset 3px 3px 6px 3px #080808;
}
/*
ul.menu li:hover {
    box-shadow: 1px 1px 2px #F0F0F0;
}
*/
button.menuitem_sel
{
    box-shadow: 1px 1px 2px #A0A0A0;
}
button:active {
    box-shadow: inset 1px 1px 2px #F0F0F0;
}

table.db_table th,
table.db_table td
table.set_playlist_table th,
table.player_playlist_table th,
table.player_playlist_table td
{
    box-shadow: inset 1px 1px 1px 1px #505050;
}
button.logout,
table.misc_stats td p
{
    box-shadow: 1px 1px 2px 2px #202020;
}
td.delete_track,
div.pushbutton_enabled:hover,
td.vote:hover,
td.vote img:hover,
td.votedyae:hover,
td.votednay:hover
{
    box-shadow: inset 1px 1px 1px 1px #707070;
}
img.disconnect-voter:hover,
img.delete-playlist:hover,
img.delete_track:hover,
img.delete-vote:hover,
img.delete-voter:hover
{
    box-shadow: inset 2px 2px 2px 2px #C0C0C0;
}
th.next_up,
td.overview,
td.unSelectedVoterCell,
td.unSelectedPlaylistCell,
td.selectedPlaylistCell,
td.voterCell,
td.vote,
td.votednay,
td.votedyae,
td.voterCell,
button.logout,
button.menuitem_unsel,
button.menuitem_unsel:link,
button.menuitem_sel,
button.menuitem_sel:link
{
    text-shadow: 2px 2px 2px #202020;
}
td.progress {
    text-shadow: 0.1em 0.1em 0.1em #080808;
}
h3 {
    text-shadow: 1px 1px 1px 1px #F8F8F8;
}
table.misc_stats td p
{
    text-shadow: 1px 1px 1px #A0A0A0;
}
tr.yaevote td,
tr.nayvote td,
p.copyright,
td.overview,
td.overview p
{
    text-shadow: 0.10em 0.10em 0.05em #080808;
}

table#table_votes td.yaevote,
table#table_votes td.nayvote
{
    background-color: #00D2D5;
}

/**********************/
/** Unsorted */

tr.yaevote td
{
    background-color: #303030;
}
