/**************************************************************************
 * Layout
**************************************************************************/

/**************************************************************************
 * Fonts
   families used:
    font-family: "Arial Black", Gadget, sans-serif;
    font-family: "Courier New", Courier, monospace;
    font-family: Georgia, serif;
    font-family: "Lucida Console", Monaco, monospace;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: Tahoma, Geneva, sans-serif;
    font-family: "Times New Roman", Times, serif;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
**************************************************************************/

/**********************/
/** Globals */

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
th, td {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
td {
    font-size: small;
}
h1 {
  /*
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  */
    font-family: Georgia, serif;
    /* font-family: "Courier New", Courier, monospace; */
    font-size: 300%;
    font-weight: bold;
}
h2 {
    font-size: 150%;
    font-weight: bold;
}
h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: Arial, Gadget, sans-serif;
    font-family: "Lucida Console", Monaco, monospace;
    /* font-family: "Courier New", Courier, monospace; */
    font-size: medium;
}
a {
    font-family: "Arial Black", Gadget, sans-serif;
    font-style: normal;
}
a {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

/**********************/
/** Families */
div.hideoverflow,
body div.page_layout
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
p.instructions {
    font-family: "Times New Roman", Times, serif;
}
table.misc_stats_inner td {
    font-family: "Lucida Console", Monaco, monospace;
}
table.misc_stats td p {
    font-family: "Arial Black", Gadget, sans-serif;
    font-style: normal;
}


/**********************/
/** Weights */
td.player_state,
div.div_config table td,
th.topheader,
th.topheader select,
table.menu td button,
div#todo,
div.login form p,
table#table_playlist select,
table.misc_stats_inner td,
table.player_playlist_table th,
tr.playlist_heading th,
th.subheader,
th.score,
td.score,
td.yaes,
td.nahs,
td.exists,
span.score,
span.login_name,
p.instructions
{
    font-weight: bold;
}
td.selectedPlaylistCell,
td.unSelectedPlaylistCell {
    font-weight: normal;
}


/**********************/
/** Sizes */
table.win_loss_layout_wide table th.header,
th.topheader
{
    font-size: 150%;
}
th.next_up,
td.player_state,
table.misc_stats td p,
span.infinity,
table.menu td button,
table.player_playlist_table th,
table#table_playlist select,
td.unSelectedVoterCell,
td.voterCell,
td.vote,
td.votednay,
td.votedyae,
td.voterCell,
td.selectedPlaylistCell,
td.unSelectedPlaylistCell,
p.playlist_title
{
    font-size: 120%;
}
th.playlist_header,
th.topheader select,
th.topheader select option,
th.topheader option,
th.topheader select
{
    font-size: 120%;
}
table.db_table th {
    font-size: 140%;
}

/*
<table id='table_tracks' class='db_table'>
<tr>
<th class='spacer' rowspan='100%'></th><th class='topheader' colspan='100%'><select name='select_playlists_dropdown' id='select_playlists_dropdown' class='select_playlists_dropdown' onchange='location = this.value;'>
*/


div.login form p,
table.misc_stats_inner td
th.subheader,
th.score,
span.title,
span.score
{
    font-size: medium;
}
p.footer,
p.copyright
{
    font-size: small;
}
td.votedon
{
    font-size: x-small;
}

/**********************/
/** Styles */

p.instructions {
    font-style:italic;
}


/**********************/
/** Effects */
a.logo {
    text-decoration:none;
}


/**********************/
/** Unsorted */
