button.logout,
button.menuitem_unsel,
button.menuitem_unsel:link,
td.unSelectedVoterCell,
td.unSelectedPlaylistCell,
td.selectedPlaylistCell,
td.voterCell,
td.nayvote,
td.vote,
th.next_up
{
    background-image: url("/critter_list/template/css/wb_starter_button_middle.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
}
td.votednay,
td.votedyae,
td.yaevote,
td.voterCell,
td.selectedPlaylistCell,
button.menuitem_sel,
button.menuitem_sel:link
{
    background-image: url("/critter_list/template/css/wb_starter_button_middle_selected2.png");
    background-repeat:no-repeat;
    background-size:120% 120%;
}
td.delete_track,
td.delete-vote,
td.delete-voter
{
    background-image: url("/css/template/wb_starter_button_middle.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
}
td.progress
{
    background-image: url("/critter_list/template/css/wb_starter_button_middle_selected2.png");
    background-repeat:no-repeat;
    background-size:80% 100%;
}
img#pause {
    clip-path: rect(10px, 290px, 190px, 10px);
}

table.header_layout td.header_title,
table.header_layout td.overview,
table.header_layout
{
    background-image: url("/critter_list/template/texture2b.svg");
    background-size: 100em 100em;
    background-repeat:repeat;
}
img.gong {
    height: 20em;
}

img.delete-vote,
img.delete-playlist,
img.delete-voter,
img.delete_track,
a.votednay img,
a.votedyae img,
a.vote img
{
    width: 1.6em;
}
