/**************************************************************************
 * Layout
**************************************************************************/

/**********************/
/** Globals */
body
{
    margin: 0.2em;
}
h3 {
    margin: 0.1em;
}
h4 {
    margin-bottom: 0em;
}
ul {
    margin-top: 0em;
}
h1, h3
{
    padding: 1px;
}
img {
    /* necessary to properly-center the logo */
    vertical-align: middle;
}
th {
    text-align: center;
}
body.login {
    overflow: hidden;
}
div.content {
    width: 99%;
}
div.debug_container textarea,
div.db_table,
table.db_table,
table.set_playlist_table,
table.settings_table,
table.misc_stats td p
{
    display: inline-block;
}
table.misc_stats,
table.page_layout {
    width: 100%;
}
table.page_layout td.page_layout
{
    width: 100%;
}
table.page_layout,
div.body
{
    height: 100%;
}
td.page_layout
{
    height: 99%;
}
table.login_layout
{
    width: 100%;
    height: 100%;
    margin-bottom: 15%;
}
div.loginbody
{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
div.body
{
    width: 100%;
}

/**********************/
/** Floats & Clears Section */

/*
div.debug_container,
div.debug_outer,
div.progress,
div.progress_time,
table#table_player_example,
a.logo
{
    float: left;
}
*/
div.clearfloat,
h4.todo {
    clear: both;
}


/**********************/
/** Centering Parameters ? ( i think ) */

td.vote_class table,
div.debug,
div.debug_container,
div.js_debug,
table.settings_table,
table.winners,
table.losers
{
    margin-left: auto;
    margin-right: auto;
}


/**********************/
/** Display & list-style */
table.gong {
    display: inine-block;
    
    width: 99%;
    height: 70%;
    /*
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    display: inline-block;
    */
    /*
    position: absolute;
    top: 50%;
    left: 0%;
    width: 99%;
    height: 100%;
    margin-top: -10%;
    */
}

div.pushbutton,
div.pushbutton_active,
div.pushbutton_enabled,
div.pushbutton_disabled,
table.player_layout_wide
{
    display: inline-block;
}


/**********************/
/** Overflow */
/*
div.hideoverflow {
    overflow: hidden;
}
*/

/** Absolute Positioning */
div.footer {
    position: fixed;
    top: 100%;
    left: 0%;
    width: 99%;
    margin-top: -1.2em;
    text-align: right;
    vertical-align: bottom;
}

/**********************/
/** Heights & Widths */
div.hideoverflow {
    position: absolute;
    min-width: 98.5%;
    min-height: 99%;
    left: 0.1%;
    top: 0.4%; 
    right: 0; 
    bottom: 0;
    padding: 0em;
}
td.slider
{
    width: 3.0em;
}
div.progress
div.progress_time,
{
    height: 1.9em;
}
td.header img
{
    margin-top: -1.1em;
    margin-bottom: -0.8em;
    margin-left: -0.4em;
    margin-right: -0.7em;
    height: 1.8em;
}
td.disconnect-voter img {
    height: 1.8em;
    width: 1.8em;
}

td.header_title img {
    height: 8em;
    margin-left: -2em;
}
/*
img.headertest {
    margin-top: -1.2em;
    margin-bottom: -0.9em;
}
*/
table.player_state,
table.menu,
td.player_playing,
div.progress_time,
table.player_layout_wide,
table.player_playlist_table,
table.header_layout,
td.player_playlist_table,
td.player_layout_wide,
table.header,
table.header td.header,
table#table_playlist select,
select.select_playlists_dropdown,
table#table_tracks th.topheader
{
    width: 100%;
}
td.controls {
    min-width: 25em;
}

table.menu td {
    width: 50%;
}
div.admin_params table {
    max-width: 35em;
}
img.slider-concept {
    max-width: 8em;
}

/**********************/
/** Margin & Padding */


table.page_layout,
p.copyright,
td.overview p,
td.progress,
tr.up td,
table#table_player_example td,
table#table_player_example td img,
p.playlist_title,
img.control
{
    margin: 0em;
}
td.slider-concept,
img.slider-concept
{
    margin: -0.8em;
}
table.player_interface,
table.player_playlist_table,
div.db_table,
div.docs,
tr.yaevote td,
td.yaevote,
tr.nayvote td,
td.nayvote,
p.instructions
{
    margin: 0.2em;
}
table.misc_stats td p {
    margin: 0.4em;
    margin-top: 0.5em;
}
div.login form p {
    margin: 2em;
}

table.player_interface,
table.player_playlist_table
{
    margin-bottom: 0em;
}
table.menu
{
    margin-top: 0.12em;
    margin-bottom: 0.12em;
}
button.menuitem_sel,
button.menuitem_unsel,
table.winners,
table.losers
{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
table.settings_table,
table#table_playlists
{
    margin-bottom: 0.4em;
}

div.hideoverflow,
table.page_layout td.page_layout,
p.copyright,
p.playlist_title,
tr.up td,
table#table_player_example td img,
img.control
{
    padding: 0em;
}
div.body,
table.player_state td
{
    padding-top: 0%;
    padding-bottom: 0%;
}
table.winners,
table.losers
{
    padding: 1.2em;
}

/*
table.player_layout_wide td.player_interface,
table.player_layout_wide td.player_layout_wide,
*/

th,
div.content,
td.unSelectedVoterCell,
td.voterCell,
td.unSelectedVoterCell,
td.voterCell,
img.delete_track,
a.votednay img,
a.votedyae img,
a.vote img {
    padding: 0.3em;
}
td.logo {
    margin-left: 0em;
    padding: 0.4em;
}
table.player_interface,
table.player_playlist_table,
table.player2_layout table
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
table.player_interface
{
    margin-right: 0em;
    margin-left: 0.5em;
}
table.player_playlist_table
{
    margin-right: 0.5em;
    margin-left: 0em;
}


td.unSelectedPlaylistCell,
td.selectedPlaylistCell,
table.winners,
table.losers,
table.misc_stats td p,
p.login
{
    padding: 0.4em;
}
div.loginbody
{
    padding: 0.3em;
}
img.disconnect-voter,
img.delete-playlist,
img.delete_track,
img.delete-voter,
img.delete-vote,
div#todo ul li,
div.docs,
table.db_table,
table.settings_table,
td.overview
{
    padding: 0.2em;
}
td.vote,
td.votedyae,
td.votednay,
img.controls
{
    padding: 0.12em;
}
td.menu {
}
td.progress
{
    padding: 0.1em;
}

td.next_up {
    padding-left: 0.5em;
}

table.player_layout_wide td.player_layout_wide
{
    padding-right: 0.4em;
}
table.player_playlist_table th {
    padding-left: 0.4em;
    padding-right: 0.4em;
}
table.player_playlist_table td {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

/**********************/
/** Alignment Section */

table.settings_table,
table.page_layout td.page_layout,
div.div_config table,
div.db_table,
table.win_loss_layout_wide td,
table.player_layout_wide td.player_layout_wide,
table.player_interface td.player_state,
td.overview,
table.player2 td
{
    vertical-align: top;
}

div.slider,
td.slider {
    vertical-align: middle;
}


table.player_playlist_table td,
table.gong,
table.gong td,
img.gong,
table.win_loss_layout_wide table td,
div.pushbutton,
div.pushbutton_active,
div.pushbutton_enabled,
div.pushbutton_disabled,
td.controls,
div.slider,
td.slider,
button.menuitem_sel,
button.menuitem_unsel,
img.logo
{
    vertical-align: middle;
}

p.copyright,
td.overview,
div.progress,
div.progress_time,
td.setting_name,
td.label,
td.progress
{
    text-align: right;
}
table.player_state,
th.next_up,
td.next_up,
td.track_info,
div.docs,
table.db_table td.title_narrow,
td.setting_value,
table.header_layout td.header_title
{
    text-align: left;
}

table.gong td,
img.gong,
div.body,
select.select_playlists_dropdown,
table.login_layout
{
    text-align: center;
}


/**********************/
/** Miscellaneous */

.word_wrap
{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.pre-wrap {
    white-space: pre-wrap;
}
.pre-line {
    white-space: pre-line;
}

/*
<td class='vote'>
<a class='vote' onclick='vote_yae(537, 650, 23, "01-Firstlight.mp3", "vote_650_23")'> 
<img src='/critter_list/template/thumbs_up.png' />
*/

