/*
 * @author: Bryant Hansen
 * @license: GPLv3
 */
table {
    font-weight: bold;
}
table#header {
    margin-bottom: 0px;
}
table#header td, td.header h3 {
    margin-bottom: 0px;
}
div#todo {
    font-weight: bold;
}
div#todo li {
    padding: 3px;
}
div.hideoverflow {
    overflow: hidden;
}
div.outer, div.menuouter {
    position: relative;
    left: 50%;
    float: left;
}
div.body {
    padding: 20px;
    border: solid black 1px;
    border-radius: 15px;
    overflow: hidden;
}
div.body, div.menu {
    position: relative;
    left: -50%;
    float: left;
}
div.login form p {
    margin: 30px;
    font-weight: bold;
    font-size: large;
}
div.debug_container {
    border: black solid 1px;
    float: left;
    padding: 3px;
    /* text-align: center; */
}
div.clearfloat {
    clear: both;
    margin: 0px;
    padding: 0px;
}

div.menu, ul.menu {
    margin: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0px;
    float: left;
    vertical-align: middle;
}
ul.menu {
    list-style: none;
}
ul.menu li {
    float: left;
    padding: 2px;
    margin: 2px;
    background-image: url("./template/wb_starter_button_middle.png");
    vertical-align: middle;
}
li.menuitem_sel, li.menuitem_sel:link, td.voterCell, td.votedyae, td.votednay, tr.up td {
    /* border: #20D020 solid 5px; */
    border: #101010 solid 5px;
    vertical-align: middle;
}
li.menuitem_unsel, li.menuitem_unsel:link {
    border: black solid 1px;
    vertical-align: middle;
}
a.menuitem_sel, a.menuitem_sel:link, td.voterCell a {
    color: white;
    vertical-align: middle;
}
a.menuitem_unsel, a.menuitem_unsel:link, td.unSelectedVoterCell a {
    color: #C0C0C0;
    vertical-align: middle;
}
a.menuitem_sel, a.menuitem_unsel, a.menuitem_sel:link, a.menuitem_unsel:link, td.unSelectedVoterCell a, td.voterCell a {
    font-size: large;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    vertical-align: middle;
}
a.menuitem_unsel:hover, a.menuitem_sel:hover {
    color: #E06060;
    vertical-align: middle;
}
a.menuitem_unsel:active, a.menuitem_sel:active {
    color: #FF8080;
    vertical-align: middle;
}

td.header {
    border: None;
}
h1, h3 {
    margin: 2px;
    padding: 2px;
}
h4 {
    margin-bottom: 0px;
}
ul {
    margin-top: 0px;
}
table {
    margin: 2px;
}
th {
    font-size: large;
    background-color: #F0F0F0;
    border: black solid 2px;
}
td {
    border: black solid 1px;
}
td, th, ul.menu li, input {
    padding: 4px;
    border-radius: 7px;
}
table#files td:nth-child(n+2):nth-child(-n+3),
table#voters td:nth-child(1),
table#votes td:nth-child(n+2):nth-child(-n+4),
table#tally td:nth-child(1),
table#tally td:nth-child(n+3):nth-child(-n+4)
{
    text-align: center;
}
table#votes td:nth-child(4) {
    font-weight: bold;
    font-size: x-small;
}
table#tally td:nth-child(1),
table#tally td:nth-child(3),
table#tally td:nth-child(4)
{
    font-weight: bold;
}
td.unSelectedVoterCell, td.voterCell {
    background-image: url("./template/wb_starter_button_middle.png");
    vertical-align: bottom;
}
tr.yaevote td, td.yaevote {
    border: #108010 solid 2px;
}
tr.nayvote td, td.nayvote {
    border: #801010 solid 2px;
}
p.footer, p.copyright {
    font-size: small;
}
div.db_table {
    float: left;
}
div#footer {
    clear: both;
}
div.debug {
    border: black solid 1px;
}
p.instructions {
    padding: 10px;
    margin: 3px;
    text-align: center;
}
a.logo {
    text-decoration:none;
    float: left;
}
img.logo, img.delete-voter {
    vertical-align: middle;
}
table.db_table, div.debug, div.debug_container, div.controls {
    margin-left: auto;
    margin-right: auto;
}
div.controls {
    text-align: center;
}
